<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data science tools and ecosystem

In this notebook, data science tools and ecosystem are summarised.

In [ ]:
# Objectives
- popular data science languages
- popular data science libraries
- Data science Tools
- Basic arithmetic operations

# some of the popular data science languages are:
1.Python
2.SQL
3.Scala
4.R

# some of the popular data science libraries are:
1.Python Pandas
2.Python Numpy
3.Matplotlib
4.Seaborn

# Data science Tools

|Data science tools |
|-------------------|
|1.My SQL           |
|-------------------|
|2.Apache Nifi      |
|-------------------|
|3.Hadoop           |
|-------------------|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
a = 200 
b = 60
Hours = a/b
Hours
round(Hours,3)

3.333

## Author
Ashwin